body{

}

.center {
    width: 80%;
    margin: 0 auto;
}
.timer {
    top:0px;
}
.list {
    width: 80%;
    margin: 0 auto;
}
.item {
    width: 49%;
    height: 60px;
    display: inline-block;
    border: 1px solid #888;
}
.header {
    padding: 10px 0;
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    background-color: #333;
    color: #efefef;
}
.header a {
    color: #efefef;
}
.virtualScrollWraper{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.name{
    float: left;
    width: 50%
}
.id{
    float: left;
    width: : 50%;
}